<a href="https://colab.research.google.com/github/kshhh111/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
``` # CH1. 파이썬 문법
## 자료형
**숫자형**
 *정수 : 123, 456, 0, -30  
 *실수 : 12.345, -987.65 , 0.7e6   
 *8진수 : 0o765, 0o123  
 *16진수 : 0x0ㅇ, 0x0A, 0xFF  

**변수** 
  *문자 또는 밑줄로 시작 (_KIM, alpha)  
  *대소문자 구분(sum, Sum,SUM)
  *영문자, 숫자, 밑줄(A-Z, 0-9,_)  
  ex) sun_9, Alpha, s9n)
  * 파이썬 키워드 (print....)  
**표기법**   
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName
a = 10
b = 10
f = "10"
c = a + b
print(a,b,c,f)

In [8]:
a=10
b=3
c = a /b
d = a // b #몫
e = a % b # 나머지
print(c,d,e)

SyntaxError: ignored

In [11]:
#곱셈
a = 10 
b = 3
c = a * b #일반 곱하기기
d = a**b #제곱곱
print(c,d)

30 1000

#### 문자열 
1. 큰따옴표 : "WOOSEOK KIM"
2. 작은 따옴표 : ' WOOSEOK KIM'
3. 큰따옴표 3개 : """대한민국"""
4.작은 따옴표 3개 : ''' 대한민국'''
5. "동해물과 백두산이 마르고 닳도록
kim\'s

In [14]:
# 변수수
myName = "Kim Woos Seok"
my_name = "김우석"
_my_name = "korea"
MYNAME = "코리아"
my2name = "KR"
#2myname = "hahaha"
#my-name = "dsadas"
#my name = "space" 
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#변수할당

In [16]:
a,b,c = "딸기","포도","바나나"
print(a)
print(b)
print(c)

딸기
포도
바나나

In [18]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [20]:
x = "Life"
y = " is"
z = " beautiful!"
print (x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [23]:
a = '1'
b = '2' 
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3