<a href="https://colab.research.google.com/github/kshhh111/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
``` # CH1. 파이썬 문법
## 자료형
**숫자형**
 *정수 : 123, 456, 0, -30  
 *실수 : 12.345, -987.65 , 0.7e6   
 *8진수 : 0o765, 0o123  
 *16진수 : 0x0ㅇ, 0x0A, 0xFF  

**변수** 
  *문자 또는 밑줄로 시작 (_KIM, alpha)  
  *대소문자 구분(sum, Sum,SUM)
  *영문자, 숫자, 밑줄(A-Z, 0-9,_)  
  ex) sun_9, Alpha, s9n)
  * 파이썬 키워드 (print....)  
**표기법**   
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName
a = 10
b = 10
f = "10"
c = a + b
print(a,b,c,f)

In [ ]:
a=10
b=3
c = a /b
d = a // b #몫
e = a % b # 나머지
print(c,d,e)

SyntaxError: ignored

In [ ]:
#곱셈
a = 10 
b = 3
c = a * b #일반 곱하기기
d = a**b #제곱곱
print(c,d)

30 1000

#### 문자열 
1. 큰따옴표 : "WOOSEOK KIM"
2. 작은 따옴표 : ' WOOSEOK KIM'
3. 큰따옴표 3개 : """대한민국"""
4.작은 따옴표 3개 : ''' 대한민국'''
5. "동해물과 백두산이 마르고 닳도록
kim\'s

In [ ]:
# 변수수
myName = "Kim Woos Seok"
my_name = "김우석"
_my_name = "korea"
MYNAME = "코리아"
my2name = "KR"
#2myname = "hahaha"
#my-name = "dsadas"
#my name = "space" 
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#변수할당

In [ ]:
a,b,c = "딸기","포도","바나나"
print(a)
print(b)
print(c)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = " is"
z = " beautiful!"
print (x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [ ]:
a = '1'
b = '2' 
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [ ]:
a=1;b=2;c=3;
f = a+ b + \
c
print(c)

3

In [ ]:
#len

a = 1,2,3,4,5,6
print(len(a))

6

In [ ]:
#len

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
a=100
b=200
result = a+b

print( a,'+',b,'=',result)
result= a-b
print(a, '-', b,'=',result) 
result = a/ b
print(a, '/', b,'=',result) 
result = a % b
print(a, '%', b,'=',result) 
result = a * b
print(a, 'X', b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 % 200 = 100
100 X 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기2 
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1+ num2

print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [ ]:
#계산기3 

num1 = int(input("숫자 입력1: "))
num2 = int(input("숫자 입력2: "))

result = num1 + num2 
print( num1 '+' num2 '=' result)

In [ ]:
char1 = input("자기이름: ")
num2 = int(input("전화번호:  "))
num3 = int(input("택배 무게 입력: "))
print(type(char1))
print(type(num1))
print(type(num2))
print(char1)
print(num2) 

killogram = num3 * 100
print(num3,'g', '*', 100,'원', '=', killogram,'원')

자기이름: 김우석
전화번호:  01051893743
택배 무게 입력: 200
<class 'str'>
<class 'int'>
<class 'int'>
김우석
1051893743
200 g * 100 원 = 20000 원

In [ ]:
num1 = int(100)
num2 = int(200)
result = num1 + num2
print( num1,'+',num2, '=' , result)

100 + 200 = 300

In [ ]:
a = 2 
b = 2.0
if a == b:
    print("a는 b와 같음")
elif a > b: 
    print("a가 b보다 큼")
else : 
   print("a가 b보다 작음")

a는 b와 같음

In [ ]:
  print("%d" % 123)
  print("%5d" % 123)
  print("%05d" % 123)

  print("%f % 123.45")
  print("%7.1f" % 123.45)
  print("%7.3f" % 123.45)

  print("%c" % "1")
  print("%s" % "가나다라")
  print("%6s" % "가나다라")
  print("%6s" % "abcd")

123
  123
00123
%f % 123.45
  123.5
123.450
1
가나다라
  가나다라
  abcd

In [ ]:
print("{0:d} {1:5d} {2:05d}". format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}". format(123,456,789))

789   456 00123

In [ ]:
print("\n줄 바꿈 명령\n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t탭키 명령 \t연습중입니다.")

	탭키 명령 	연습중입니다.

In [16]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \ \\ \ @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과2
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \ \\ \ @를 그대로 출력

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬래시 3개를 출력하면")

관계 연산자

In [17]:
a,b = 10,20
print(a==b, a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자 and , or ,not

In [21]:
a= 95
print(( a>100) and (a<200)) # 100<a<200
print((a<100) or (a>200))  #  a<100 , a>200
print(not(a==100))  # a<=99, a>=101

False
True
True

In [25]:
if(10):
   print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈 2 // 몫 % 나머지 money =int(input("입력:")) 지폐 금액입력 후 동전으로 교환시 (500원 , 100원, 50원 , 10원)
money, c500, c100, c50, c10
받은돈 : ?원원
500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개
나머지 : ?원원

In [ ]:
num1 = int(input("금액을 넣어주세요"))
result = num1
result_500  = result / 500
result_100  = result / 100
result_50   = result / 50 
result_10   = result/ 10 
result_remain = result - result_500 - result_100 - result_50 - result_10 

print("500원 :")