<a href="https://colab.research.google.com/github/kshhh111/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
``` # CH1. 파이썬 문법
## 자료형
**숫자형**
 *정수 : 123, 456, 0, -30  
 *실수 : 12.345, -987.65 , 0.7e6   
 *8진수 : 0o765, 0o123  
 *16진수 : 0x0ㅇ, 0x0A, 0xFF  

**변수** 
  *문자 또는 밑줄로 시작 (_KIM, alpha)  
  *대소문자 구분(sum, Sum,SUM)
  *영문자, 숫자, 밑줄(A-Z, 0-9,_)  
  ex) sun_9, Alpha, s9n)
  * 파이썬 키워드 (print....)  
**표기법**   
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName
a = 10
b = 10
f = "10"
c = a + b
print(a,b,c,f)

In [8]:
a=10
b=3
c = a /b
d = a // b #몫
e = a % b # 나머지
print(c,d,e)

SyntaxError: ignored

In [11]:
#곱셈
a = 10 
b = 3
c = a * b #일반 곱하기기
d = a**b #제곱곱
print(c,d)

30 1000

#### 문자열 
1. 큰따옴표 : "WOOSEOK KIM"
2. 작은 따옴표 : ' WOOSEOK KIM'
3. 큰따옴표 3개 : """대한민국"""
4.작은 따옴표 3개 : ''' 대한민국'''
5. "동해물과 백두산이 마르고 닳도록
kim\'s

In [14]:
# 변수수
myName = "Kim Woos Seok"
my_name = "김우석"
_my_name = "korea"
MYNAME = "코리아"
my2name = "KR"
#2myname = "hahaha"
#my-name = "dsadas"
#my name = "space" 
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#변수할당

In [16]:
a,b,c = "딸기","포도","바나나"
print(a)
print(b)
print(c)

딸기
포도
바나나

In [18]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [20]:
x = "Life"
y = " is"
z = " beautiful!"
print (x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [23]:
a = '1'
b = '2' 
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [25]:
a=1;b=2;c=3;
f = a+ b + \
c
print(c)

3

In [28]:
#len

a = 1,2,3,4,5,6
print(len(a))

6

In [29]:
#len

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [32]:
a=100
b=200
result = a+b

print( a,'+',b,'=',result)
result= a-b
print(a, '-', b,'=',result) 
result = a/ b
print(a, '/', b,'=',result) 
result = a % b
print(a, '%', b,'=',result) 
result = a * b
print(a, 'X', b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 % 200 = 100
100 X 200 = 20000

In [34]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [36]:
# 계산기2 
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1+ num2

print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [ ]:
#계산기3 

num1 = int(input("숫자 입력1: "))
num2 = int(input("숫자 입력2: "))

result = num1 + num2 
print( num1 '+' num2 '=' result)

In [47]:
char1 = input("자기이름: ")
num2 = int(input("전화번호:  "))
num3 = int(input("택배 무게 입력: "))
print(type(char1))
print(type(num1))
print(type(num2))
print(char1)
print(num2) 

killogram = num3 * 100
print(num3,'g', '*', 100,'원', '=', killogram,'원')

자기이름: 김우석
전화번호:  01051893743
택배 무게 입력: 200
<class 'str'>
<class 'int'>
<class 'int'>
김우석
1051893743
200 g * 100 원 = 20000 원