<a href="https://colab.research.google.com/github/kshhh111/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
``` # CH1. 파이썬 문법
## 자료형
**숫자형**
 *정수 : 123, 456, 0, -30  
 *실수 : 12.345, -987.65 , 0.7e6   
 *8진수 : 0o765, 0o123  
 *16진수 : 0x0ㅇ, 0x0A, 0xFF  

**변수** 
  *문자 또는 밑줄로 시작 (_KIM, alpha)  
  *대소문자 구분(sum, Sum,SUM)
  *영문자, 숫자, 밑줄(A-Z, 0-9,_)  
  ex) sun_9, Alpha, s9n)
  * 파이썬 키워드 (print....)  
**표기법**   
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName
a = 10
b = 10
f = "10"
c = a + b
print(a,b,c,f)

In [ ]:
a=10
b=3
c = a /b
d = a // b #몫
e = a % b # 나머지
print(c,d,e)

SyntaxError: ignored

In [ ]:
#곱셈
a = 10 
b = 3
c = a * b #일반 곱하기기
d = a**b #제곱곱
print(c,d)

30 1000

#### 문자열 
1. 큰따옴표 : "WOOSEOK KIM"
2. 작은 따옴표 : ' WOOSEOK KIM'
3. 큰따옴표 3개 : """대한민국"""
4.작은 따옴표 3개 : ''' 대한민국'''
5. "동해물과 백두산이 마르고 닳도록
kim\'s

In [ ]:
# 변수수
myName = "Kim Woos Seok"
my_name = "김우석"
_my_name = "korea"
MYNAME = "코리아"
my2name = "KR"
#2myname = "hahaha"
#my-name = "dsadas"
#my name = "space" 
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#변수할당

In [ ]:
a,b,c = "딸기","포도","바나나"
print(a)
print(b)
print(c)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = " is"
z = " beautiful!"
print (x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [ ]:
a = '1'
b = '2' 
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [ ]:
a=1;b=2;c=3;
f = a+ b + \
c
print(c)

3

In [ ]:
#len

a = 1,2,3,4,5,6
print(len(a))

6

In [ ]:
#len

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
a=100
b=200
result = a+b

print( a,'+',b,'=',result)
result= a-b
print(a, '-', b,'=',result) 
result = a/ b
print(a, '/', b,'=',result) 
result = a % b
print(a, '%', b,'=',result) 
result = a * b
print(a, 'X', b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 % 200 = 100
100 X 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기2 
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1+ num2

print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [ ]:
#계산기3 

num1 = int(input("숫자 입력1: "))
num2 = int(input("숫자 입력2: "))

result = num1 + num2 
print( num1 '+' num2 '=' result)

In [ ]:
char1 = input("자기이름: ")
num2 = int(input("전화번호:  "))
num3 = int(input("택배 무게 입력: "))
print(type(char1))
print(type(num1))
print(type(num2))
print(char1)
print(num2) 

killogram = num3 * 100
print(num3,'g', '*', 100,'원', '=', killogram,'원')

자기이름: 김우석
전화번호:  01051893743
택배 무게 입력: 200
<class 'str'>
<class 'int'>
<class 'int'>
김우석
1051893743
200 g * 100 원 = 20000 원

In [ ]:
num1 = int(100)
num2 = int(200)
result = num1 + num2
print( num1,'+',num2, '=' , result)

100 + 200 = 300

In [ ]:
a = 2 
b = 2.0
if a == b:
    print("a는 b와 같음")
elif a > b: 
    print("a가 b보다 큼")
else : 
   print("a가 b보다 작음")

a는 b와 같음

In [ ]:
  print("%d" % 123)
  print("%5d" % 123)
  print("%05d" % 123)

  print("%f % 123.45")
  print("%7.1f" % 123.45)
  print("%7.3f" % 123.45)

  print("%c" % "1")
  print("%s" % "가나다라")
  print("%6s" % "가나다라")
  print("%6s" % "abcd")

123
  123
00123
%f % 123.45
  123.5
123.450
1
가나다라
  가나다라
  abcd

In [ ]:
print("{0:d} {1:5d} {2:05d}". format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}". format(123,456,789))

789   456 00123

In [ ]:
print("\n줄 바꿈 명령\n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t탭키 명령 \t연습중입니다.")

	탭키 명령 	연습중입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \ \\ \ @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과2
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \ \\ \ @를 그대로 출력

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬래시 3개를 출력하면")

관계 연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자 and , or ,not

In [ ]:
a= 95
print(( a>100) and (a<200)) # 100<a<200
print((a<100) or (a>200))  #  a<100 , a>200
print(not(a==100))  # a<=99, a>=101

False
True
True

In [ ]:
if(10):
   print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈 2 // 몫 % 나머지 money =int(input("입력:")) 지폐 금액입력 후 동전으로 교환시 (500원 , 100원, 50원 , 10원)
money, c500, c100, c50, c10
받은돈 : ?원원
500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개
나머지 : ?원원

In [ ]:
num1 = int(input("금액을 넣어주세요"))
result = num1
result_500  = result / 500

result_100  = result / 100
result_50   = result / 50 
result_10   = result/ 10 
result_remain = result - result_500 - result_100 - result_50 - result_10 

print("500원 :",result_500,'개')
result_100= result -result_500-result_100
print("100원 :",result_100,'개')
result_50 = result- result_500 -result_100 -result_50
print("50원 :",result_50,'개')
result_10 = result- result_500 -result_100 - result_50 - result_10
print("10원 :",result_10,'개')
print("나머지 :",result_remain,'개')

금액을 넣어주세요12880
500원 : 25.76 개
100원 : 12725.44 개
50원 : -128.80000000000075 개
10원 : -1030.4 개
나머지 : 11179.84 개

In [ ]:
money,c500,c100,c50,c10=0,0,0,0,0
money=int(input("동전으로 교환할 돈은? :"))
print("입력받은 돈은 %d원" % money)
c500 = money // 500 #몫
money %= 500 
c100 = money // 100
money %= 100
c50 = money // 50
money %= 50
c10 = money // 10
money %= 10 
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c100)
print("50원 동전 : %d" % c50)
print("10원 동전 : %d" % c10)
print("나머지지 동전 : %d" % money)

동전으로 교환할 돈은? :12880
입력받은 돈은 12880원
500원 동전 : 25
100원 동전 : 3
50원 동전 : 1
10원 동전 : 3
나머지지 동전 : 0

**조건문**

In [ ]:
a = 150
if(a <100):  
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

프로그램 끝

In [ ]:
a = 200
if (a<100):
  print("100보다 작음")
else : 
  print("거짓 조건 보다 크면")
print("프로그램 끝!")

거짓 조건 보다 크면
프로그램 끝!

In [ ]:
#홀짝 구분 
a = int(input("숫자 입력\n"))
if(a%2==0):  
  print("짝수 입니다")
else : 
  print("홀수 입니다")

숫자 입력
37
홀수 입니다

In [ ]:
a = int(input("슷자 입력:"))
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a>25): 
    print("25<a<50")
  else:
    print("a<25")
print("프로그램 종료!")

슷자 입력:70
50<a<100
프로그램 종료!

In [ ]:
fruit = ['사과','배','샤인머스켓','바나나']
fruit.append('망고')
if '딸기' in fruit :
  print("망고가 있습니다")
print(fruit)

['사과', '배', '샤인머스켓', '바나나', '망고']

반복문

In [ ]:
for i in range(1,10,1): #시작값, 끝값+1,증가값값
  print("%d 안녕하세요." % i)
print("환영합니다.")

1 안녕하세요.
2 안녕하세요.
3 안녕하세요.
4 안녕하세요.
5 안녕하세요.
6 안녕하세요.
7 안녕하세요.
8 안녕하세요.
9 안녕하세요.
환영합니다.

In [ ]:
import random 
num = []
for i in range(0,6): # 생략시 1씩 증가 
  num.append(random. randrange(1,46))
print("생성 리스트", num)

생성 리스트 [27, 12, 16, 45, 27, 19]

In [ ]:
for i in range(1,9,1):
  print("%d" % i) # 새로버젼

1
2
3
4
5
6
7
8

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end = '\t') # 가로버젼, 띄어쓰기기

1	2	3	4	5	6	7	8

In [ ]:
for i in range(1,9,1):
  print("%d" % i) # 새로버젼
print("\n")
for j in range(1,9,1):
  print("%d" % j, end = '\t') # 가로버젼, 띄어쓰기기

1
2
3
4
5
6
7
8


1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지의 합: %d" % sum )

1부터 10까지의 합: 55

In [ ]:
sum,num=0,0
num = int(input("숫자입력"))
for i in range(1,num+1,1):
  sum = sum + i
print("1~n까지의 합: %d" % sum)

숫자입력10000
1~n까지의 합: 50005000

In [ ]:
i,j=2,0
for j in range(1,10,1):
  print("%d x %d = %2d" % (i,j,i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

#퀴즈 3 구구단을 만들고 2,3,4,5 줄 바꿔서 6,7,8,9를를

In [ ]:

k= int(input("구구단수 입력 : "))
for a in range(1,10):
  for b in range(2,6):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")
print("\n")
c,d=0,0
for c in range(1,10):
  for d in range(6,10):
    print("%d x %d = %2d" % (d,c,c*d), end="\t")
  print("")

구구단수 입력 : 10
2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

#CH3. 자료형

## 1. 리스트 인덱스, 슬라이싱

In [1]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [3]:
a = [1,2,3,4,5,6,7,8,9]
print(a[1:9:2])
print(a[1:9:2])

[2, 4, 6, 8]
[2, 4, 6, 8]

In [4]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [7]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [9]:
b = [1,2,3,4,5,6]
b[0] = "apple"
b[1] = 99 
b[5] = [1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

In [10]:
k = ["a","b","c","d","c"]
k.remove("c")
print(k)
k.append

['a', 'b', 'd', 'c']

In [12]:
k = ["a","b","c","d","c"]
k.remove("c") #해당 요소값 삭제
print(k)
k.append("f") #맨뒤로 추가
print(k)

['a', 'b', 'd', 'c']
['a', 'b', 'd', 'c', 'f']

In [15]:
k = [1,2,3,4,5,6]
k.remove(3) #해당 요소값 삭제
print(k)
k.append(6) #맨뒤로 추가
print(k)

[1, 2, 4, 5, 6]
[1, 2, 4, 5, 6, 6]

In [17]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [18]:
j = "God is love!"
print(j.upper())
print(j.lower())
print(j.strip())

GOD IS LOVE!
god is love!
God is love!

In [19]:
a = "apple, mango, banana"
print(a.split(","))

['apple', ' mango', ' banana']

In [20]:
a = ["apple","banana","cherry"]
a.append("Orange") #맨 뒷쪽에 추가
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [21]:
a = ["apple", "banana","cherry"]
a.insert(1,"orange") #지정한곳에 삽입
print(a)

['apple', 'orange', 'banana', 'cherry']

In [23]:
a = ["apple", "banana","cherry","banana"]
a.remove("banana")
print(a)

['apple', 'cherry', 'banana']

In [24]:
a = ["apple","banana","cherry"]
a.pop() # 맨뒤 지움움
print(a) 
a.pop(1)
print(a)

['apple', 'banana']
['apple']

In [25]:
fruit = ["사과","배","오렌지"]
for i in fruit:
  print(i)

사과
배
오렌지

In [26]:
fruit = ["감","밤","대추"]
for i in range(len(fruit)):
  print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

SORT

In [27]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort(reverse = True)
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
fruit = ["kiwi","apple","Orange","banana"]
fruit.sort()
print(fruit)
fruit.sort(key=str.lower)
print(fruit)
fruit.reverse()
print(fruit)

['Orange', 'apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi', 'Orange']

In [32]:
# List 복사 
fruit = ["kiwi","apple","Orange","banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['kiwi', 'apple', 'Orange', 'banana']

2.Tuple 튜플

In [34]:
l = [1,2,3]
t = (5,6,7)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [35]:
l = [1,2,3]
t = (5,6,7)
l[0] = 4
print(l)
# t[0] = 8
print(t)

[4, 2, 3]
(5, 6, 7)

In [36]:
f = ("apple","banana","cherry")
print(len(f))

3

In [37]:
t = ('kiwi')
print(t)
print(type(t))

kiwi
<class 'str'>

In [38]:
t = ("kiwi",)
print(t)
print(type(t))

('kiwi',)
<class 'tuple'>

In [39]:
t = ("kiwi",)  #튜플로 인식하기 위해 ","필요
print(t)
print(type(t))

('kiwi',)
<class 'tuple'>

In [41]:
f = ("banana","apple","kiwi","cherry", "Orange")
print(f[:4])
print(f[3:])

('banana', 'apple', 'kiwi', 'cherry')
('cherry', 'Orange')

In [45]:
f = ("banana","apple","kiwi","cherry", "Orange")
if "apple" in f:
   print("yes")
else:
   print("no")

yes

Tuple<->List

In [46]:
# 튜플에 추가하는 방법 
t = ("apple","banana","cherry")
y = list(t)
print(type(y))
y.append("Orange")\
t = tuple(y)
print(t)

<class 'list'>

In [49]:
# List -> Tuple 
company = ["LG","SK","Apple"]
t = tuple(company)
print(type(company))
print(type(t))
print(company)
print(t)

<class 'list'>
<class 'tuple'>
['LG', 'SK', 'Apple']
('LG', 'SK', 'Apple')

In [51]:
c = ("LG","SK","Apple")
d = ("Samsung",)
c += d  #c = c + d
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [52]:
t = ("감","밤","대추")
l = list(t)
l.remove("대추")
t = tuple(l)
print(t)

('감', '밤')

## 3.Dict 사전자료형형

In [53]:
d = {
    "a":1,
    "b":2,
    "c":3  
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [54]:
d = {
    "a":1,
    "b":2,
    "c":3  
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [60]:
car = {
    "maker" : "Hyundai",
    "model" : "pony2",
    "year"  : 1994
    }
print(car)
print(len(car))
car["year"] = 2000
print(car)
car ["color"] = "Blue"
print(car)
print(car["maker"])

{'maker': 'Hyundai', 'model': 'pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'pony2', 'year': 2000, 'color': 'Blue'}
Hyundai

In [62]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.pop("model")#해당 키값을 삭제
print(car)

{'maker': 'BMW', 'year': 2023}

In [64]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.clear() #비움
print(car)
car["maker"] ="KIA"
print(car)

{}
{'maker': 'KIA'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
del car
# print (car)

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.popitem()
print(car)

In [65]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
for x in car:
  print(car[x])

BMW
GT
2023

In [66]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.keys():
  print(x)

maker
model
year

In [67]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
for x in car.values():
  print(x)

BMW
GT
2023

In [68]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
for x,y in car. items():
  print(x,y)

maker BMW
model GT
year 2023

In [69]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
myCar = car.copy():
print(myCar)

SyntaxError: ignored

In [71]:
food = {
    "brand" : "Lotte",
    "model" : "ice Cream",
    "price" : 2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'ice Cream', 'price': 2000}

In [72]:
name1 = {"name":"김우석","year": 1900}
name2 = {"name":"홍길동","year": 1800}
name3 = {"name":"윤웅배","year": 2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김우석', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '윤웅배', 'year': 2000}}

In [79]:
name1 = {
    "name" : "",
    "number" : "",
    }
name2 = {
    "name" : "",
    "number" : "",
    }
name3 = {
    "name" : "",
    "number" : "",
    }
priviate1 =(input("첫번째 인물에 이름을 입력해주세요"))
name1["name"] = (priviate1)
num1 =(input("첫번째 인물에 전화번호를 입력해주세요"))
name1["number"] = (num1)

priviate2 =(input("2번째 인물에 이름을 입력해주세요"))
name2["name"] = (priviate2)
num2 =(input("2번째 인물에 전화번호를 입력해주세요"))
name2["number"] = (num2)

priviate3 =(input("3번째 인물에 이름을 입력해주세요"))
name3["name"] = (priviate3)
num3 =(input("3번째 인물에 전화번호를 입력해주세요"))
name3["number"] = (num3)

family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

SyntaxError: ignored