<a href="https://colab.research.google.com/github/kshhh111/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
``` # CH1. 파이썬 문법
## 자료형
**숫자형**
 *정수 : 123, 456, 0, -30  
 *실수 : 12.345, -987.65 , 0.7e6   
 *8진수 : 0o765, 0o123  
 *16진수 : 0x0ㅇ, 0x0A, 0xFF  

**변수** 
  *문자 또는 밑줄로 시작 (_KIM, alpha)  
  *대소문자 구분(sum, Sum,SUM)
  *영문자, 숫자, 밑줄(A-Z, 0-9,_)  
  ex) sun_9, Alpha, s9n)
  * 파이썬 키워드 (print....)  
**표기법**   
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName
a = 10
b = 10
f = "10"
c = a + b
print(a,b,c,f)

In [ ]:
a=10
b=3
c = a /b
d = a // b #몫
e = a % b # 나머지
print(c,d,e)

SyntaxError: ignored

In [ ]:
#곱셈
a = 10 
b = 3
c = a * b #일반 곱하기기
d = a**b #제곱곱
print(c,d)

30 1000

#### 문자열 
1. 큰따옴표 : "WOOSEOK KIM"
2. 작은 따옴표 : ' WOOSEOK KIM'
3. 큰따옴표 3개 : """대한민국"""
4.작은 따옴표 3개 : ''' 대한민국'''
5. "동해물과 백두산이 마르고 닳도록
kim\'s

In [ ]:
# 변수수
myName = "Kim Woos Seok"
my_name = "김우석"
_my_name = "korea"
MYNAME = "코리아"
my2name = "KR"
#2myname = "hahaha"
#my-name = "dsadas"
#my name = "space" 
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#변수할당

In [ ]:
a,b,c = "딸기","포도","바나나"
print(a)
print(b)
print(c)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = " is"
z = " beautiful!"
print (x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [ ]:
a = '1'
b = '2' d
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [ ]:
a=1;b=2;c=3;
f = a+ b + \
c
print(c)

3

In [ ]:
#len

a = 1,2,3,4,5,6
print(len(a))

6

In [ ]:
#len

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
a=100
b=200
result = a+b

print( a,'+',b,'=',result)
result= a-b
print(a, '-', b,'=',result) 
result = a/ b
print(a, '/', b,'=',result) 
result = a % b
print(a, '%', b,'=',result) 
result = a * b
print(a, 'X', b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 % 200 = 100
100 X 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기2 
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1+ num2

print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [ ]:
#계산기3 

num1 = int(input("숫자 입력1: "))
num2 = int(input("숫자 입력2: "))

result = num1 + num2 
print( num1 '+' num2 '=' result)

In [ ]:
char1 = input("자기이름: ")
num2 = int(input("전화번호:  "))
num3 = int(input("택배 무게 입력: "))
print(type(char1))
print(type(num1))
print(type(num2))
print(char1)
print(num2) 

killogram = num3 * 100
print(num3,'g', '*', 100,'원', '=', killogram,'원')

자기이름: 김우석
전화번호:  01051893743
택배 무게 입력: 200
<class 'str'>
<class 'int'>
<class 'int'>
김우석
1051893743
200 g * 100 원 = 20000 원

CH4 조건문, 반복문문

In [ ]:
a= int(input("숫자 입력: \t"))

if a>50 :
  if a < 100:
     print("50보다 크고 100보다 작군요.")
  else :
     print("와~~ 100보다 크군요.")
else : 
   print("에고~50보다 작군요.")

숫자 입력: 	50
에고~50보다 작군요.

In [ ]:
#성적처리

score = int(input("점수 입력해 주세용\t"))

if(score > 100):
    print("0~100점까지 숫자로 입력하세요")
elif(score >= 90):
    print("A", end='')
elif(score >= 80):
    print("B", end='')
elif(score >= 70):
    print("C", end='')
elif(score >= 60):
    print("D", end='')
else:
  print("F", end='')
print("학점, %d 점 입니다."%score)

점수 입력해 주세용	60
D학점, 60 점 입니다.

In [ ]:
import random

numbers =  []
for num in range(0,10):
   numbers.append(random.randrange(0,10))

print("생성된 리스트", numbers)

for num in range(0,10):
  if num not in numbers:
    print("숫자 %d는 리스트에 없다"%num)
  else:
    print("숫자 %d는 리스트에 있음"%num)

생성된 리스트 [7, 6, 8, 4, 1, 4, 7, 2, 6, 8]
숫자 0는 리스트에 없다
숫자 1는 리스트에 있음
숫자 2는 리스트에 있음
숫자 3는 리스트에 없다
숫자 4는 리스트에 있음
숫자 5는 리스트에 없다
숫자 6는 리스트에 있음
숫자 7는 리스트에 있음
숫자 8는 리스트에 있음
숫자 9는 리스트에 없다

In [ ]:
#조건문 이용, eval()
select, answer, num1, num2 , numStr = 0,0,0,0,""

select  = int(input("1.입력한 수식계산 , 2.두수의 합 \n"))

if(select == 1):
  numStr = input("수식을 입력하세요(ex: 1+2): \t")
  answer = eval(numStr) #1+2, "s"+"t"
  print("%s 결과는 %5.1f입니다." %(numStr,answer))

if(select==2):
  num1 = int(input("*첫번째 숫자를 입력하세요: \t"))
  num2 = int(input("*두번째 숫자를 입력하세요: \t"))
  for k in range(num1,num2+1):
    answer = answer + k
  print("%d+...+%d는 %d입니다." %(num1,num2,answer))

else:
  print("1 또는 2만 입력하세요.")

1.입력한 수식계산 , 2.두수의 합
1
수식을 입력하세요(ex: 1+2): 	3+4
3+4 결과는   7.0입니다.
1 또는 2만 입력하세요.

## 2 반복문 for & whiile

In [ ]:
for i in range(0,3,1): ##시작값,끝값,1씩 증가
  print("안녕!! %d" %i)

안녕!! 0
안녕!! 1
안녕!! 2

In [ ]:
for i in [0,3,1]: ## list
  print("안녕!! %d" %i)

안녕!! 0
안녕!! 3
안녕!! 1

In [ ]:
for i in range(0,3,1):
  for j in range(0,2,1):
    for k in range(0,2,1):
      print("i:%d, j:%d, k:%d" %(i,j,k))

i:0, j:0, k:0
i:0, j:0, k:1
i:0, j:1, k:0
i:0, j:1, k:1
i:1, j:0, k:0
i:1, j:0, k:1
i:1, j:1, k:0
i:1, j:1, k:1
i:2, j:0, k:0
i:2, j:0, k:1
i:2, j:1, k:0
i:2, j:1, k:1

In [ ]:
i,j=0,0
for i in range(2,10,1):
 for j in range(1,10,1):
   print("%d x %d=%2d\t "%(i,j,i*j),end='')
 print("")

2 x 1= 2	 2 x 2= 4	 2 x 3= 6	 2 x 4= 8	 2 x 5=10	 2 x 6=12	 2 x 7=14	 2 x 8=16	 2 x 9=18
3 x 1= 3	 3 x 2= 6	 3 x 3= 9	 3 x 4=12	 3 x 5=15	 3 x 6=18	 3 x 7=21	 3 x 8=24	 3 x 9=27
4 x 1= 4	 4 x 2= 8	 4 x 3=12	 4 x 4=16	 4 x 5=20	 4 x 6=24	 4 x 7=28	 4 x 8=32	 4 x 9=36
5 x 1= 5	 5 x 2=10	 5 x 3=15	 5 x 4=20	 5 x 5=25	 5 x 6=30	 5 x 7=35	 5 x 8=40	 5 x 9=45
6 x 1= 6	 6 x 2=12	 6 x 3=18	 6 x 4=24	 6 x 5=30	 6 x 6=36	 6 x 7=42	 6 x 8=48	 6 x 9=54
7 x 1= 7	 7 x 2=14	 7 x 3=21	 7 x 4=28	 7 x 5=35	 7 x 6=42	 7 x 7=49	 7 x 8=56	 7 x 9=63
8 x 1= 8	 8 x 2=16	 8 x 3=24	 8 x 4=32	 8 x 5=40	 8 x 6=48	 8 x 7=56	 8 x 8=64	 8 x 9=72
9 x 1= 9	 9 x 2=18	 9 x 3=27	 9 x 4=36	 9 x 5=45	 9 x 6=54	 9 x 7=63	 9 x 8=72	 9 x 9=81

In [ ]:
# while 문
j = 0
while j<3:
    print ("%d : while문" %j)
    j = j + 1

0 : while문
1 : while문
2 : while문

## Q : for , while 1~10 까지의 합을 구하는 코드를 작성하시오 .

In [ ]:

total = 0
for i in range(1, 11):
    total += i

print("for문을 사용한 합계:", total)

for문을 사용한 합계: 55

In [ ]:
total = 0
i = 1

while i <= 11:
    total += i
    i += 1

print("while문을 사용한 합계:", total)

while문을 사용한 합계: 66

In [ ]:
while True:
  print("무한 루프", end='')
  break

무한 루프

3.continue,Break

In [ ]:
#break 
for i in range(1,100):
  print("for 문 %d번 실행"%i)
  break
  print("break 아래")
print("break 빠짐")

for 문 1번 실행
break 빠짐

In [ ]:
hap = 0
a,b = 0,0
while True:
  a=int (input("덧셈을 위한 첫번째 수 : \t"))
  if a==0:
    break
  b=int (input("덧셈을 위한 두번째 수 : \t"))
  hap = a+b 
  print("%d + %d = %d"%(a,b,hap))

print("break 로 탈출")

덧셈을 위한 첫번째 수 : 	10
덧셈을 위한 두번째 수 : 	20
10 + 20 = 30
덧셈을 위한 첫번째 수 : 	0
break 로 탈출

In [ ]:
# continue
hap, i = 0,0
for i in range(1,11):
  if i%2 == 0:
    print("i:%d" %i)
    continue #
  hap += i 

print("1~10(2의 배수 제외): %d"%hap)

i:2
i:4
i:6
i:8
i:10
1~10(2의 배수 제외): 25

In [ ]:
fruits = ["감","밤","대추"]
for x in fruits:
   if x =  "밤":
      continue
   print(x)

SyntaxError: ignored

In [ ]:
for x in range(6):
   if x == 3: break
   print(x)
else:
     print("끝")

0
1
2

In [ ]:
# pass for문에 적합한 조건함수를 쓰지않은 상태에서서 에러를 피하기 위해 실행하지 않음
for x in[0,1,2]:
  pass

## 4. 함수

In [ ]:
##함수
def plus(v1,v2) :   ##두개의 매계변수를 받아 더해서 돌려주는함수수     ##define
  result = 0
  result = v1 + v2
  return result

#메인
hap = 0
hap = plus(1,2) ##1,2 를 위 v1과 v2에 넣어   result에 더한값을 넣음음
print("1+2 = %d" %hap)
hap = plus(4,8)
print("4+8 = %d" %hap)

1+2 = 3
4+8 = 12

In [ ]:
# 계산기
def calc (v1,v2,op):
  result = 0
  if op=='+':
    result = v1 + v2
  elif op=='-':
    result = v1 - v2
  elif op=='/':
    result = v1 / v2 
  elif op=='*':
    result = v1 * v2 
  return result

rst = 0
var1,var2,opr = 0,0,""

opr = input("(+,-,/,*)입력: ")
var1 = int(input("1번째 숫자 입력: \t"))
var2 = int(input("2번째 숫자 입력: \t"))

rst = calc(var1,var2,opr)
print("계산결과 : %d %s %d = %.2f" %(var1,opr,var2,rst))

KeyboardInterrupt: ignored

## Q : 0 으로 나누면 메시지  출력, 계산되지 않고, 
제곱(**) 연산자 기능 추가 , (숫자 1,연산자 , 숫자 2) 순서로 입력하게 변경경

In [ ]:
def calc(v1, v2, op):
    result = 0
    if op == '+':
        result = v1 + v2
    elif op == '-':
        result = v1 - v2
    elif op == '/':
        result = v1 / v2 
    elif op == '*':
        result = v1 * v2 
    elif op == '**':
        result = v1 ** v2
    return result

rst = 0
var1, var2, opr = 0, 0, ""

var1 = int(input("1번째 숫자 입력: "))
if var1 == 0:
    print("0을 입력하지 마세요.")
    exit()

opr = input("(+,-,/,*) 입력: ")

var2 = int(input("2번째 숫자 입력: "))
if var2 == 0:
    print("0을 입력하지 마세요.")
    exit()

rst = calc(var1, var2, opr)

if rst == 0:
    print("0으로 나눌 수 없습니다.")
else:
    print("계산결과: %d %s %d = %.2f" % (var1, opr, var2, rst))

1번째 숫자 입력: 30
(+,-,/,*) 입력: +
2번째 숫자 입력: 4
계산결과: 30 + 4 = 34.00

# ch5 파일 처리
"r"-read, "w"-write, "a"-append, 
"x"-create, "t"-text, "b"-binary

In [ ]:
#file wirte
from google.colab import files
f = open ("a.txt", 'w')
f.write("123456")
f.close()
files.download('a.txt')

In [ ]:
# file read 
from google.colab import files

f= open("a.txt",'r')
f.read

In [ ]:
for i in range(1,11,1):

  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = list(range(10+1))
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]